<h1>List of Tools</h1>
<div class="container">
  <div class="cards">
    <% @tools.each do |tool| %>
      <%= link_to tool_path(tool) do  %>
        <div class="card-product">
          <img src="<%= tool.image_url %>" />
          <div class="card-product-infos">
            <h2><%= tool.name%></h2>
            <p><%= tool.price.round(1) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
