.dashboard-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.pricetag{
  background-color: #e2dcc8;
  padding: 12px;
  border-radius:150px;
}
.card p {
  font-size: 1.2em;
}
