// Import page-specific CSS files here.
@import "home";
@import "tools_show";

h1 {
  text-align: start;
  font-size: 42px;
  font-weight: bold;
  margin: 0;
  color: rgb(0, 0, 0);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
