<div class="container">
  <div class="card">
    <div class="text mx-3 my-5">
          <h5 class="card-text"><strong>Thanks for booking the <%= @booking.tool.name %></strong></h5>
          <div class="d-flex justify-content-center">
            <p class="card-title">Your Total Payment is: <%= @total_payments %></p>
          </div>
    <div class="card-body d-flex flex-column justify-between align-items-center">
      <%= image_tag @image_url, class: "img-fluid mb-3", style: "width: 300px; height: 300px;" %>

        <div class="d-flex justify-content-center mt-3">
          <%= link_to 'Go To Dashboard', dashboard_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
</div>
