<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://res.cloudinary.com/dwrkiuiqa/image/upload/v1677668759/sidney-pearce-WRgKwttuP7A-unsplash_k6oevr.jpg');">

  <div class="container">
    <div class="position-absolute top-0 end-0 m-4">
      <%= link_to "Login", new_user_session_path, class: "btn btn-ghost" %>
    </div>
    <div class="inner-container">
      <h1>Welcome to ToolBox!</h1>
      <p>Rent out your tools and rent any tool you may need for your next creativity journey</p>
      <%= link_to "Explore the ToolBox", tools_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
