<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('sidney-pearce-WRgKwttuP7A-unsplash.jpeg');">
  <div class="container">
    <h1>Welcome to Toolbox!</h1>
    <p>Rent out your tools and rent any tool you may need for your next creativity journey</p>
    <%= link_to "Explore the Toolbox", tools_path, class: "btn btn-ghost" %>
  </div>
</div>
