// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }
// ul{
//   list-style-type: none;
// }

// ul{
//   list-style-type: none;
// }

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// .card-container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 20px;
// }

// @media (max-width: 991.98px) {
//   .card-container {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: 767.98px) {
//   .card-container {
//     grid-template-columns: 1fr;
//   }
// }

.card {
  height: 100%;
  color: black;
  text-decoration: none;
}

.card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .card {
    max-width: 100%;
  }

  .card-img-top {
    height: 150px;
  }
}
