
.tools.new {
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}


form {
  display: grid;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
